/*###cssreset*/
html, body {
    height: 100%;
    overflow: hidden;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0px;
    padding: 0px;
    font: 14px "微软雅黑";
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

img {
    display: block;
}

/*###清除浮动*/
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#wrap {
    height: 100%;
}
/*header*/
#wrap .header {
    height: 80px;
    position:relative;
}

#wrap .header .headerMain {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

#wrap .header .headerMain .logo {
    float: left;
    margin-top: 15px;
}

#wrap .header .headerMain .nav {
    float:right;
    margin-top:50px;
}
#wrap .header .headerMain .nav .navList{
    overflow:hidden;
}
#wrap .header .headerMain .nav .navList .navItem{
    float:left;
    margin-left:40px;
}
#wrap .header .headerMain .nav .navList .navItem a{
    position:relative;
}

#wrap .header .headerMain .nav .navList .navItem a .up{
    position:absolute;
    left:0;
    top:0;
    width:0;
    transition:1s;
    overflow:hidden;
    color:black;
}
#wrap .header .headerMain .nav .navList .navItem a .down{
    color:skyblue;
}
#wrap .header .headerMain .nav .navList .navItem a:hover .up{
    width:100%;
}
#wrap .header .arrow{
    width: 21px;
    height: 11px;
    background: url("../img/arrow.png") no-repeat;
    position:absolute;
    left:50%;
    top:100%;
    transform:translateX(-50%);
    z-index:5;
    transition:.5s;
}

/*content*/
#wrap .content{
    width:100%;
    position:relative;
    overflow:hidden;
}
#wrap .content .contentList{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    transition:.5s;
}
#wrap .content .contentList .contentItem{
    position:relative;
    background-repeat:no-repeat;
    background-position:center;
}
#wrap .content .contentList .contentItem .contentInner{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color:skyblue;
    width:1100px;
    height:520px;
}
#wrap .content .contentList .contentItem:nth-child(1){
    background-image: url("../img/bg1.jpg");
}
#wrap .content .contentList .contentItem:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
#wrap .content .contentList .contentItem:nth-child(3){
    background-image: url("../img/bg3.jpg");
}
#wrap .content .contentList .contentItem:nth-child(4){
    background-image: url("../img/bg4.jpg");
}
#wrap .content .contentList .contentItem:nth-child(5){
    background-image: url("../img/bg5.jpg");
}

/*bar*/
#wrap .bar{
    position:fixed;
    right:10px;
    top:50%;
}
#wrap .bar .barList .barItem {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top:10px;
}
#wrap .bar .barList .barItem.active{
    background-color:#fff;
}